AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=preencha_com_access_key
AWS_SECRET_ACCESS_KEY=preencha_com_secret_key

MIGRATION_CLEAN_DB_S3_BUCKET=eagle-migracao-templates
APP_MIGRATION_CLEAN_DB_CACHE_DIR=./data/cache/templates
APP_MIGRATION_CLEAN_DB_2025_002_LOCAL_PATH=./data/templates/2025.002/EAGLEERP_LIMPO.FDB

APP_MIGRATION_FIREBIRD_ENABLED=true
APP_MIGRATION_FIREBIRD_JDBC_URL=jdbc:firebirdsql://localhost:3050/{database}
APP_MIGRATION_FIREBIRD_USERNAME=SYSDBA
APP_MIGRATION_FIREBIRD_PASSWORD=masterkey
APP_MIGRATION_FIREBIRD_MIGRATOR_DATABASE="C:\Program Files (x86)\Eagle\Eagle Gestao\Data\MIGRADOR.FDB"
APP_MIGRATION_FIREBIRD_EAGLE_ALIAS_NAME=EAGLEERP

APP_MIGRATION_EAGLE_WORKING_DATABASE_PATH=./data/work/EAGLEERP.FDB
APP_MIGRATION_FINAL_DATABASE_OUTPUT_DIR=./data/final
