APP_DOMAIN=eagle.wizeflowsolutions.cloud
IMAGE_TAG=latest

POSTGRES_PASSWORD=troque_essa_senha
FIREBIRD_PASSWORD=masterkey

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=troque_por_access_key
AWS_SECRET_ACCESS_KEY=troque_por_secret_key

MIGRATION_CLEAN_DB_S3_BUCKET=eagle-migracao-templates
MIGRATION_CLEAN_DB_2025_001_S3_KEY=templates/2025.001/EAGLEERP.FDB
MIGRATION_CLEAN_DB_2025_002_S3_KEY=templates/2025.002/EAGLEERP.FDB
MIGRATION_CLEAN_DB_2026_001_S3_KEY=templates/2026.001/EAGLEERP.FDB
MIGRATION_FINAL_DB_S3_BUCKET=eagle-migracao-templates
MIGRATION_FINAL_DB_S3_PREFIX=bancos-migrados
