AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=preencha_com_access_key
AWS_SECRET_ACCESS_KEY=preencha_com_secret_key

SPRING_DATASOURCE_URL=jdbc:postgresql://host-do-rds:5432/migracao_eagle
SPRING_DATASOURCE_USERNAME=usuario_do_rds
SPRING_DATASOURCE_PASSWORD=senha_do_rds

MIGRATION_CLEAN_DB_S3_BUCKET=eagle-migracao-templates
MIGRATION_CLEAN_DB_2025_001_S3_KEY=bancos-limpos/2025.001/EAGLEERP_LIMPO.FDB
MIGRATION_CLEAN_DB_2025_002_S3_KEY=bancos-limpos/2025.002/EAGLEERP_LIMPO.FDB
MIGRATION_CLEAN_DB_2026_001_S3_KEY=bancos-limpos/2026.001/EAGLEERP_LIMPO.FDB
MIGRATION_FINAL_DB_S3_BUCKET=eagle-migracao-templates
MIGRATION_FINAL_DB_S3_PREFIX=bancos-migrados

APP_MIGRATION_WORK_DIR=/tmp/migracao-eagle
APP_MIGRATION_CLEAN_DB_CACHE_DIR=/tmp/migracao-eagle/templates
APP_MIGRATION_FINAL_DB_DOWNLOAD_CACHE_DIR=/tmp/migracao-eagle/downloads

APP_MIGRATION_FIREBIRD_ENABLED=true
APP_MIGRATION_FIREBIRD_JDBC_URL=jdbc:firebirdsql://firebird:3050/{database}
APP_MIGRATION_FIREBIRD_USERNAME=SYSDBA
APP_MIGRATION_FIREBIRD_PASSWORD=senha_do_firebird
APP_MIGRATION_FIREBIRD_MIGRATOR_DATABASE=/firebird/data/MIGRADOR.FDB
APP_MIGRATION_FIREBIRD_EAGLE_ALIAS_NAME=EAGLEERP
