APP_DOMAIN=eagle.wizeflowsolutions.cloud
IMAGE_TAG=latest
TRAEFIK_NETWORK=traefik_public
TRAEFIK_HTTPS_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt

POSTGRES_PASSWORD=troque_essa_senha

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=troque_por_access_key
AWS_SECRET_ACCESS_KEY=troque_por_secret_key

MIGRATION_CLEAN_DB_S3_BUCKET=eagle-migracao-templates
MIGRATION_CLEAN_DB_2025_001_S3_KEY=templates/2025.001/EAGLEERP.FDB
MIGRATION_CLEAN_DB_2025_002_S3_KEY=templates/2025.002/EAGLEERP.FDB
MIGRATION_CLEAN_DB_2026_001_S3_KEY=templates/2026.001/EAGLEERP.FDB
MIGRATION_FINAL_DB_S3_BUCKET=eagle-migracao-templates
MIGRATION_FINAL_DB_S3_PREFIX=bancos-migrados

APP_MIGRATION_WORK_DIR=/firebird/data/work
APP_MIGRATION_FIREBIRD_ENABLED=true
APP_MIGRATION_FIREBIRD_JDBC_URL=jdbc:firebirdsql://firebird:3050/{database}?enableProtocol=*&wireCrypt=disabled
APP_MIGRATION_FIREBIRD_USERNAME=SYSDBA
APP_MIGRATION_FIREBIRD_PASSWORD=masterkey
APP_MIGRATION_FIREBIRD_MIGRATOR_DATABASE=/firebird/data/MIGRADOR.FDB
APP_MIGRATION_FIREBIRD_EAGLE_ALIAS_NAME=EAGLEERP
